@font-face {
    font-family: 'Montserrat';
    src: url(../src/fonts/Montserrat\ Regular.ttf);
}
@font-face {
    font-family: 'Montserrat bold';
    src: url(../src/fonts/MotserratBold.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../src/fonts/Roboto.ttf);
}

body{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
.promo{
    display: flex;
    height: 700px;
    background: url(../src/images/promo-image.png) center no-repeat;
    background-color: black;
    background-size: cover;
    padding: 40px 250px;
    align-items: center;
    flex-direction: column;
}
.promo__header{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.promo__header-name{
    font-family: 'Montserrat bold';
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
    color: white;
    font-size: 20pt;
}
.promo__buttons{
    width: 240px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.promo__button button{
    font-family: Montserrat bold;
    background:none;
    color: white;
    border: none;
    margin: 10px 20px;
    font-size: 14pt;
}
.promo__button_border button{
    font-family: Montserrat bold;
    background:none;
    color: white;
    border: none;
    margin: 10px 20px;
    font-size: 14pt;
}

.promo__button_border{
    border: 2px solid white;
    border-radius: 50px;
}
.promo__content{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.promo__title{
    height: 160px;
    font-family: Montserrat bold;
    color: white;
    font-size: 52pt;
    text-transform: uppercase;
    margin-top: 60px;
}
.promo__subtitle{
    font-size: 24pt;
    color: white;
    margin-top: 60px;
}
.promo_content-button button{
    font-family: Montserrat bold;
    background:none;
    color: white;
    background: #ff4e50;
    font-size: 15pt;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
}
.how-it-works{
    display: flex;
    height: 700px;
    background-color: white;
    background-size: cover;
    padding: 40px 250px;
    align-items: center;
    flex-direction: column;
    margin: 50px;

}
.how-it-works__title{
    font-family: Montserrat bold;
    font-size: 22pt;
    margin-top: 20px;
}
.how-it-works__steps{
    display:flex;
    flex-direction: row;
}
.how-it-works__step-1{
    background-color: black;
    background-image: url(../src/images/image-step-1.png);
    color: white;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding-left: 10px;
    background-size: cover;
}
.how-it-works__step-2{
    background-color: black;
    background-image: url(../src/images/image-step-2.png);
    color: white;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding-left: 10px;
    background-size: cover;
}
.how-it-works__step-3{
    background-color: black;
    background-image: url(../src/images/image-step-3.png);
    color: white;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding-left: 10px;
    background-size: cover;
}
.how-it-works__step-number{
    padding-left: 15px;
    text-transform:uppercase;
    margin-top: 250px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 10pt;
    border: 2px solid white;
    border-radius: 50px;
    background: #ff4e50;
    height: 20px;
    width: 60px;
    margin-bottom: 5px;
}
.how-it-works__step-number-2{
    padding-left: 15px;
    text-transform:uppercase;
    margin-top: 270px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 10pt;
    border: 2px solid white;
    border-radius: 50px;
    background: #ff4e50;
    height: 20px;
    width: 60px;
    margin-bottom: 5px;
}

.how-it-works__step-title{
    font-family: Montserrat bold;
    font-size: 20pt;
    text-transform:uppercase;
    margin: 0 0;
}
.how-it-works__step-subtitle{
    font-size: 10pt;
}
