@font-face {
    font-family: 'Montserrat';
    src: url(../src/fonts/Montserrat\ Regular.ttf);
}
@font-face {
    font-family: 'Montserrat bold';
    src: url(../src/fonts/MotserratBold.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../src/fonts/Roboto.ttf);
}
body{
    display: flex;
    justify-content: center;
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}
@viewport{
    width: 100%;
    zoom: 1;
}
.promo{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    background: url(../src/images/promo-image.png) center no-repeat;
    background-color: black;
    background-size: cover;
    justify-content: center;
}
.promo__header{
    display: flex;  
    width: 100%;
    height: 40px;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}
.promo__header-container{
    display: flex;
    width: 940px;
    justify-content: space-between;
    flex-direction: row-reverse; 
    flex-wrap: wrap; 
}
.promo__header-name{
    font-family: 'Montserrat bold';
    font-weight: 500;
    font-size: medium;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.promo__buttons{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2px;
}
.promo__button button{
    display: flex;
    font-family: Montserrat bold;
    background:none;
    color: white;
    border: none;
    font-size: 14px;
}
.promo__button-border button{
    font-family: Montserrat bold;
    background:none;
    color: white;
    border: none;
    font-size: 14px;
    
}
.promo__button-border{
    border: 2px solid white;
    border-radius: 50px;
    margin-left: 13px;
    padding: 7px 10px 7px 10px
}

.promo__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.promo__title{
    font-family: Montserrat bold;
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
}
.promo__subtitle{
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 32px;
}
.promo__content-button button{
    font-family: Montserrat bold;
    background:none;
    color: white;
    background: #ff4e50;
    font-size: 14px;
    border-radius: 50px;
    padding: 12px 22px;
    border: none;
}

.how-it-works{
    display: flex;
    background-color: white;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.how-it-works__title{
    font-family: Montserrat bold;
    font-size: 22px;
    margin: 20px 0px 15px 0px;
}
.how-it-works__steps{
    display:flex;
    width: 940px;
    justify-content: space-between;
    flex-direction: row;
}
.how-it-works__card-step-1{
    background: url(../src/images/image-step-1.png) center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    height: 400px;
    width: 280px;
    background-size: cover;
    padding-left: 20px;
    border-radius: 5px;
}
.how-it-works__card-step-2{

    background: url(../src/images/image-step-2.png) center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    height: 400px;
    width: 280px;
    background-size: cover;
    padding-left: 20px;
    border-radius: 5px;
}
.how-it-works__card-step-3{
    background: url(../src/images/image-step-3.png) center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    height: 400px;
    width: 280px;
    background-size: cover;
    padding-left: 20px;
    border-radius: 5px;
}
.how-it-works__card-step-number{
    padding-left: 2px;
    font-family: Montserrat;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-family: 'Montserrat';
    font-size: 10px;
    border-radius: 50px;
    background: #ff4e50;
    height: 20px;
    width: 70px;
}
.how-it-works__card-step-title{
    font-family: Montserrat bold;
    font-size: 24px;
    margin: 14px 0px 8px 0px;
}
.how-it-works__card-step-subtitle{
    display: flex;
    width: 265px;
    height: 50px;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 15px;
    /* color: #cccccc; */
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.partners__title{
    font-family: Montserrat bold;
    font-size: 22px;
    margin: 21px 0px 13px 0px;
}
.partners__items{
    display:flex;
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
}
.partners__items-row-1{
    display:flex;
    width: 466px;
    flex-direction: row;
}
.partners__items-row-2{
    display:flex;
    width: 466px;
    flex-direction: row;
}
.partners__item-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 233px;
    width: 233px;
}
.partners__item-card-avatar{
    display: flex;
    width: 120px;
    height: 120px;
}
.partners__item-card-icon-1{
    position: absolute;
    display: flex;
    background-color: #ff4e50;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    transform: translate(220%, 220%);
}
.partners__item-card-icon-2{
    position: absolute;
    display: flex;
    background-color: #1cd7ad;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    transform: translate(220%, 220%);
}
.partners__item-card-icon-3{
    position: absolute;
    display: flex;
    background-color: #ffa507;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    transform: translate(220%, 220%);
}
.partners__item-card-icon-4{
    position: absolute;
    display: flex;
    background-color: #4e73db;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    transform: translate(220%, 220%);
}
.partners__item-card-name{
    font-family: Montserrat bold;
    font-size: 14px;
    padding-top: 5px;
    /* margin: 2px; */
}
.partner__item-card-biography{
    font-family: Roboto;
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.partners__button{
    display: flex;
    border: 2px solid #ff4e50;
    border-radius: 50px;
    margin-top: 40px;
}
.partners__button button{
    background: none;
    font-family: Montserrat bold;
    font-size: 14px;
    color: #ff4e50;
    border: none;
    padding: 9px 28px;
}

.ideas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.ideas__title{
    font-family: Montserrat bold;
    font-size: 22px;
    margin-top: 24px;
}
.ideas__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 10px; */
}
.ideas__items-row{
    display: flex;
    flex-direction: row;
    width: 940px;
    justify-content: space-between;
}
.ideas__items-row-item-square-sport{
    background: url(../src/images/ideas-sport.png) center no-repeat;
    width: 300px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-square-wellnes{
    background: url(../src/images/ideas-wellnes.png) center no-repeat;
    width: 300px;
    height: 310px;
    margin-top: 2px;

    padding: 10px 0px;
}
.ideas__items-row-item-square-extreme{
    background: url(../src/images/ideas-extreme.png) center no-repeat;
    width: 300px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-square-games{
    background: url(../src/images/ideas-games.png) center no-repeat;
    width: 300px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-square-travelling{
    background: url(../src/images/ideas-travelling.png) center no-repeat;
    width: 300px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-wide-culture{
    background: url(../src/images/ideas-culture.png) center no-repeat;
    width: 620px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-wide-relaxation{
    background: url(../src/images/ideas-relaxation.png) center no-repeat;
    width: 620px;
    height: 310px;
    margin-top: 2px;
    padding: 10px 0px;

}
.ideas__items-row-item-text{
    height: 100%;
    display:flex;
    font-family: Montserrat bold;
    font-size: 22px;
    color: white;
    align-items: center;
    justify-content: center;
}
.search-partners{
    display: flex;
    background-color: white;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
}
.search-partners__title{
    font-family: Montserrat bold;
    font-size: 22px;
}
.search-partners__subtitle{
    font-family: Roboto;
    font-size: 18px;
    margin: 18px;
}
.search-partners__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
}
.search-partners__form input{
   padding: 10px 72px 10px 10px;
   font-family: Roboto;
   font-size: 14px;
}
.search-partners__form button{
    font-family: Montserrat bold;
    font-size: 14px;
    background-color: #ff4e50;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 10px 28px  10px 22px;
}

.footer{
    display: flex;
    background-color: white;
    background-size: cover;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 99px;
    border-top: 4px solid #ff4e50;
    padding: 37px 0px;
}
.footer-container{
    display: flex;
    width: 570px;
    flex-direction: row;
    justify-content: space-between;
}
.footer__company-name{
    font-family: Montserrat bold;
    color: #ff4e50;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer__list-name{
    font-family: Montserrat bold;
    font-size: 14px;
    margin-bottom: 20px;
    padding-right: 45px;
}
.footer__list-item{
    font-family: Roboto;
    font-size: 14px;
    color: #cccccc;
    margin: 5px;
}
.footer__logo-designed-by{
    font-family: Montserrat bold;
    font-size: 10px;
    color: #cccccc;
    text-align: right;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px){
    body{
        width: 320px ;
        zoom: 3.06;
    }
    @viewport{
        width: 320px;
        /* zoom: 150%; */
    }
    .promo{
        height: 540px;
        width: 320px;
        justify-content: center;
    }
    .promo__header{
        justify-content: center;
        padding-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    .promo__header-container{
        width: 320px;
        justify-content: center;
        flex-direction: column; 
        margin-top: 190px;
        max-width: 320px;
    }
    .promo__header-name{
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        padding-top: 90px;
        max-width: 320px;
    }
    .promo__buttons{
        justify-content: center;
        max-width: 320px;
    }

    .promo__content{
        margin-top: 135px;
    }
    .promo__title{
        font-size: 30px;
    }
    .promo__subtitle{
        width: 220px;
        font-size: 18px;
        margin: 14px;
    }
    .promo__content-button button{
        margin-bottom: 2px;
        padding: 12px 50px;
    }

    .how-it-works{
        display: flex;
        background-color: white;
        background-size: cover;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .how-it-works__title{
        font-family: Montserrat bold;
        font-size: 22px;
        margin: 0px;
    }
    .how-it-works__steps{
        max-width: 320px;
        display:flex;
        width: 320px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: -5px;
    }
    .how-it-works__card-step-1{
        background: url(../src/images/image-step-1.png) center no-repeat;
        height: 240px;
        width: 300px;
        background-size:cover;
        padding-left: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .how-it-works__card-step-2{

        background: url(../src/images/image-step-2.png) center no-repeat;
        height: 240px;
        width: 300px;
        background-size:auto;
        padding-left: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .how-it-works__card-step-3{
        background: url(../src/images/image-step-3.png) center no-repeat;
        height: 240px;
        width: 300px;
        background-size:auto;
        padding-left: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .how-it-works__card-step-number{
        padding-left: 2px;
        font-family: Montserrat;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform:uppercase;
        font-family: 'Montserrat';
        font-size: 10px;
        border-radius: 50px;
        background: #ff4e50;
        height: 20px;
        width: 70px;
    }
    .how-it-works__card-step-title{
        font-family: Montserrat bold;
        font-size: 24px;
        margin: 14px 0px 8px 0px;
    }
    .how-it-works__card-step-subtitle{
        display: flex;
        width: 265px;
        height: 50px;
        font-size: 14px;
        margin-top: 5px;
        padding-bottom: 15px;
        /* color: #cccccc; */
    }

    .partners{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .partners__title{
        width: 280px;
        margin: 0px;
        text-align: center;
    }
    .partners__items{
        margin: -5px;
        display:flex;
        width: 320px;
        flex-direction: column;
        justify-content: space-between;
        max-width: 320px;
    }
    .partners__items-row-1{
        align-items: center;
        width: 320px;
        flex-direction:column;
        justify-content: space-between;
        height: 725px;
        margin-bottom: 10px;
        max-width: 320px;
    }
    .partners__items-row-2{
        position: absolute;
        padding-top: 230px;
        align-items: center;
        width: 320px;
        flex-direction:column;
        justify-content: space-between;
        height: 725px;
        margin-bottom: 10px;
    }
    .partners__button{
        margin-top: 220px;
    }
    .partners__button button{

        padding: 10px 70px;
    }

    .ideas{
        margin-top: 0px;
    }
    .ideas__title{
        margin-top: 10px;
        text-align: center;
    }
    .ideas__items-row{
        flex-direction: column;
        width: 320px;
        justify-content: center;
        align-items: center;
        max-width: 320px;
    }
    .ideas__items-row-item-square-sport{
        background: url(../src/images/ideas-sport.png) center -40px no-repeat;
        width: 300px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }
    .ideas__items-row-item-square-wellnes{
        background: url(../src/images/ideas-wellnes.png) center no-repeat;
        width: 300px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }
    .ideas__items-row-item-square-extreme{
        background: url(../src/images/ideas-extreme.png) top no-repeat;
        width: 300px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }
    .ideas__items-row-item-square-games{
        background: url(../src/images/ideas-games.png) center no-repeat;
        width: 300px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 16px;
    }
    .ideas__items-row-item-square-travelling{
        background: url(../src/images/ideas-travelling.png) center no-repeat;
        max-width: 235px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }
    .ideas__items-row-item-wide-culture{
        background: url(../src/images/ideas-culture.png) center no-repeat;
        max-width: 235px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }
    .ideas__items-row-item-wide-relaxation{
        background: url(../src/images/ideas-relaxation.png) center no-repeat;
        max-width: 235px;
        height: 120px;
        margin-top: -6px;
        padding: 0px;
        margin-bottom: 14px;
    }

    .search-partners{
        margin-top: 30px;
    }
    .search-partners__title{
        font-family: Montserrat bold;
        font-size: 22px;
        text-align: center;
        width: 280px;
    }
    .search-partners__subtitle{
        margin: -5px;
    }
    .search-partners__form{
        flex-direction: column;
        justify-content: center;
        width: 320px;
    }
    .search-partners__form input{
        margin-bottom: 10px;
        padding: 10px 105px 10px 10px;
    }
    .search-partners__form button{
        font-family: Montserrat bold;
        font-size: 14px;
        background-color: #ff4e50;
        border: none;
        color: white;
        border-radius: 50px;
        padding: 11px 80px
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        border-top: 4px solid #ff4e50;
        padding: 15px 0px;
        text-align: center;
        align-items: center;
    }
    .footer-container{
        display: flex;
        width: 320px;
        flex-direction: column;
        justify-content: center
    }
    .footer__list{
        display: flex;
        flex-direction: column;
    }
    .footer__list-items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer__list-name{
        display: flex;
        width: 100%;
        padding-right: 0px;
        padding-top: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .footer__list-item{
        margin-top: -15px;
    }
    .footer__logo-designed-by{
        text-align: center;
        margin-top: -5px;
    }
}
@media screen and (max-width: 1440px) {
    @viewport{
        justify-content: center;
        width: device-width;
    }
    .promo__header-container{
        width: 670px;
    }
    .promo__title{
        padding: 0px 5px 0px 0px;
    }
    .promo__subtitle{
        margin: 28px;
    }
    .how-it-works__steps{
        width: 765px;
        justify-content: space-around;
    }
    .how-it-works__card-step-1{
        width: 235px;
        margin: 0px 2px;
        padding: 0px;
        
    }
    .how-it-works__card-step-2{
        width: 235px;
        padding-left: 0px;

    }
    .how-it-works__card-step-3{
        width: 235px;
        padding-left: 0px;
    }
    .how-it-works__card-step-number{
        margin: 25px  0px 0px 20px;
    }
    .how-it-works__card-step-title{
        padding-left: 18px;
    }
    .how-it-works__card-step-subtitle{
        font-size: 14px;
        margin-top: 5px;
        padding-bottom: 15px;
        width: 205px;
        height: 65px;
        padding-left: 18px;
    }
    .partners__items{
        width: 768px;
        flex-direction: column;
        align-items: center;
    }
    .partners__items-row-1{
        margin-bottom: 12px;
    }
    .partners__items-row-2{
        margin-bottom: 12px;
    }
    .ideas__items-row{
        width: 768px;
        justify-content: space-evenly;
    }
    .ideas__items-row-item-square-sport{
        background: url(../src/images/ideas-sport.png) left no-repeat;
        width: 235px;
    }
    .ideas__items-row-item-square-wellnes{
        background: url(../src/images/ideas-wellnes.png) left no-repeat;
        width: 235px;
    }
    .ideas__items-row-item-square-extreme{
        width: 235px;
        background: url(../src/images/ideas-extreme.png) left no-repeat;
    }
    .ideas__items-row-item-square-games{
        width: 235px;
        background: url(../src/images/ideas-games.png) left no-repeat;
    }
    .ideas__items-row-item-square-travelling{
        width: 235px;
        background: url(../src/images/ideas-travelling.png) left no-repeat;
    }
    .ideas__items-row-item-wide-culture{
        width: 490px;
        background: url(../src/images/ideas-culture.png) left no-repeat;
    }
    .ideas__items-row-item-wide-relaxation{
        width: 490px;
    }
    .ideas__items-row-item-text{
        text-align: center;
        padding: 0 9px;
    }
    .footer__list-partners{
        padding-right: 20px;
    }
}